<div class="container">
  <div class="row">
    <div class="col mt-2 mb-2">
      <h1>Welcome to your Dashboard, <%= current_user.username %>!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Profile</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <%= cl_image_tag current_user.photo.key, height: 300, width: 300, crop: :fill%>
    </div>
    <div class="profilinfo col-4">
      <p>username: <%= current_user.username %><p>
      <p>city: <%= current_user.city %></p>
      <p>about you: <%= current_user.aboutme %></p>

    </div>
  </div>
<div>
